{% extends '_layouts/in_app.html.twig' %}

{% block title %}Wallets | +Count{% endblock %}

{% block content %}

    <div class="container mt-4">
        <h1>Mes Portefeuilles</h1>

        <a href="{{ path('wallets_create') }}" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Créer un portefeuille
        </a>

        <div class="row">
            {% for wallet in wallets %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ wallet.label }}</h5>

                            <p class="card-text">
                                Solde : {{ (wallet.totalAmount / 100)|number_format(2, ',', ' ') }} €
                            </p>

                            <a href="{{ path('wallets_show', {uid : wallet.uid}) }}" class="btn btn-primary">Voir le
                                détail</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Aucun portefeuille trouvé.</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}
