{% extends '_layouts/standard.html.twig' %}

{% block title %}Acceuil | +Count{% endblock %}

{% block content %}
    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code>/app/src/Controller/Home/IndexController.php</code></li>
            <li>Your template at <code>/app/templates/home/index/index.html.twig</code></li>
        </ul>
    </div>
{% endblock %}
