{% extends 'base.html.twig' %}

{% block body %}
    {{ include('_components/menu.html.twig') }}
    <div class="container">
        <h1>Template In App</h1>
        {# menu #}

        {# container #}
    </div>
{% endblock %}
